<!--
    This is the default page template.

    In soupault's terminology, a "page template" is simply an HTML file devoid of content.
    It parses HTML into an element tree much like browsers do and then modifies it,
    then saves modified HTML to a static page.
  -->
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Non-page files from the site/ dir are simply copied unchanged. -->
    <link rel="stylesheet" href="/style.css">

    <!-- Page title is set by the title widget based on its heading -->
    <title> </title>
  </head>
  <body>
    <main>
      <!--
        Page content is inserted here.
        It can be inserted inside any element identifiable with a CSS3 selector,
        see the settings.default_content_selector option.
      -->
    </main>
  </body>
</html>
